<div class="footer">
      <div class="grid wide">
        <div class="row">
          <div class="col l-3 m-4 c-6">
            <h3 class="footer__heading">Chăm sóc khách hàng</h3>
            <ul class="footer__list">
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  >Trung Tâm Trợ Giúp</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  >Câu hỏi thường gặp</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link">Quyền Riêng Tư</a>
              </li>
            </ul>
          </div>
          <div class="col l-3 m-4 c-6">
            <h3 class="footer__heading">Về MoVie</h3>
            <ul class="footer__list">
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  >Giới Thiệu Về MovieMovie Việt Nam</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link">Điều Khoản Movie</a>
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  >Liên Hệ Với Truyền Thông</a
                >
              </li>
            </ul>
          </div>
          <div class="col l-3 m-4 c-6">
            <h3 class="footer__heading">Giới Thiệu</h3>
            <ul class="footer__list">
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  ><i class="footer__list-items-icon fa-brands fa-facebook"></i
                  >Facebook</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  ><i class="footer__list-items-icon fa-brands fa-instagram"></i
                  >Instagram</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  ><i class="footer__list-items-icon fa-brands fa-linkedin"></i
                  >LinkedIn</a
                >
              </li>
            </ul>
          </div>
          <div class="col l-3 m-4 c-6">
            <h3 class="footer__heading">Theo dõi</h3>
            <ul class="footer__list">
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  ><i class="footer__list-items-icon fa-brands fa-facebook"></i
                  >Facebook</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  ><i class="footer__list-items-icon fa-brands fa-instagram"></i
                  >Instagram</a
                >
              </li>
              <li class="footer__list-items">
                <a href="" class="footer__list-items link"
                  ><i class="footer__list-items-icon fa-brands fa-linkedin"></i
                  >LinkedIn</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="grid wide">
          <p class="footer-text">
            © 2024 - Bản quyền thuộc về Công ty TNHH Movie
          </p>
        </div>
      </div>
    </div>