<div class="header">
      <div class="header__left">
        <button href="javascript:void(0);" class="menu-bar" >
          <i class="fa fa-bars"></i>
        </button>
        <a href="/">
          <img
            class="header__logo"
            src="/img/logo/logo.png"
            alt="netflix-font"
          />
        </a>

        <nav class="header__directory">
          <a href="/" class="header__directory-link active">Trang chủ</a>
          <a href="/phim-bo" class="header__directory-link">Phim Bộ</a>
          <a href="/phim-le" class="header__directory-link">Phim Lẻ</a>
          <a href="/phim-moi" class="header__directory-link">Phim Mới Cập Nhật</a>
          <div class="header__directory-link category">Thể Loại
          </div>
        </nav>
        <div class="header__directory--category">
          <li class="header__directory-category-link">
            <a href="/the-loai/chinh-kich">Chính Kịch</a>
          </li>
          <li class="header__directory-category-link">
            <a href="/the-loai/hoat-hinh">Hoạt Hình</a>
          </li>
          <li class="header__directory-category-link">
            <a href="/the-loai/khoa-hoc-vien-tuong">Khoa Học Viễn Tưởng</a>
          </li>
          <li class="header__directory-category-link">
            <a href="/the-loai/kinh-di">Kinh Dị</a>
          </li>
          <li class="header__directory-category-link">
            <a href="/the-loai/tinh-cam">Tình Cảm</a>
          </li>
          <li class="header__directory-category-link">
            <a href="/the-loai/phim-hai">Hài</a>
          </li>
          <li class="header__directory-category-link">
            <a href="/the-loai/phieu-luu">Phiêu Lưu</a>
          </li>
        </div>
      </div>
      <div class="header__right">
        <div class="header__icon">
            <form action="/search" class="header__icon-search">
            <input
              type="text"
              name="keyword"
              class="header__icon-input"
              placeholder="Tìm Kiếm Phim Muốn Xem"
              required
            />
            <button type="submit" class="header__icon-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            </form>
          <a class="header__icon-bell" href="">
            <i class="fa-regular fa-bell"></i>
          </a>
        </div>
        <div class="header__button">
          <button class="header__register">Register</button>
          <button class="header__login"><span>Login</span></button>
        </div>
        <div class="header__user">
          <img
            src="/img/banner/one piece red/One_Piece_Film-_Red_-_Áp_phích_Việt_Nam.jpg"
            alt=""
          />
          <p>Admin</p>
        </div>
        <div class="header__user-setting">
          <ul>
            <li><a href="">Thông Tin Tài Khoản</a></li>
            <li><a href="">Danh sách phim yêu thích</a></li>
            <li><a href="">Đổi mật khẩu</a></li>
            <li><a href="">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
    </div>
